input {
    border: none;
    width: 30px;
    text-align: center;
}

input:focus {
    border: 1px solid black;
}

select{
    border: none;
    width: 80px;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}